__mocks__/*
.firebase/*
.github/*
.next/*
.storybook/*
node_modules/*
out/*
.prettierignore
.eslintrc.js
.eslintrc.js
firebase.json
jest.config.js
next.config.js
package.json
tsconfig.json
tsconfig.server.json
yarn-error.log
yarn.lock
package-lock.json
sentry.server.config.js
sentry.client.config.js
Backend/*